<div class="card">
  <p-toast></p-toast>
  <div *ngIf="!loading" [@fadeInOut]>
    <p-treeTable
      #tt
      [value]="treeTableData"
      [columns]="selectedColumns"
      sortMode="multiple"
      scrollHeight="400px"
      [reorderableColumns]="true"
      [resizableColumns]="true"
      columnResizeMode="expand"
      filterMode="strict"
      [tableStyle]="{ 'min-width': '80rem' }"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center gap-2 justify-content-between">
          <div class="flex align-items-center gap-2">
            <div class="flex align-items-center gap-2">
              <label>Group by:</label>
              <p-dropdown
                [options]="groupingOptions"
                [(ngModel)]="selectedGrouping"
                optionLabel="label"
                (onChange)="onGroupingChange()"
              ></p-dropdown>
            </div>
            <p-divider layout="vertical"></p-divider>
            <p-button
              [label]="expandedAll ? 'Collapse all' : 'Expand all'"
              styleClass="p-button-raised p-button-text"
              (click)="handleExpandRows()"
            />
          </div>
          <div class="flex align-items-center gap-2">
            <app-row-filter
              [filterOptions]="filterOptions"
              (filterChangeEvent)="onFilterChange($event)"
            />
            <app-column-filter (columnsChangeEvent)="onColumnsChange($event)" />
            <div class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                placeholder="Global Search"
                (input)="tt.filterGlobal($event.target.value, 'contains')"
              />
            </div>
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-file-excel"
              (click)="exportExcel()"
              class="p-button-success mr-2"
              pTooltip="XLS"
              tooltipPosition="bottom"
            ></button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            ttReorderableColumn
            ttResizableColumn
            [ngStyle]="{
              width: i === 0 ? '450px' : 'fit-content'
            }"
          >
            {{ col.header }}
            <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
          </th>
        </tr>
        <!-- <tr>
          <th *ngFor="let col of columns">
            <input
              *ngIf="col.filterType === 'text'"
              pInputText
              type="text"
              (input)="
                tt.filter($event.target.value, col.field, col.filterMatchMode)
              "
            />
            <p-calendar
              *ngIf="col.filterType === 'date'"
              [touchUI]="true"
              [readonlyInput]="true"
              (input)="
                tt.filter($event.target.value, col.field, col.filterMatchMode)
              "
            ></p-calendar>
            <p-inputNumber
              *ngIf="col.filterType === 'numeric'"
              inputId="currency-us"
              mode="currency"
              currency="USD"
              locale="en-US"
              (onInput)="
                tt.filter(
                  $event.value?.toString(),
                  col.field,
                  col.filterMatchMode
                )
              "
            >
            </p-inputNumber>
          </th>
        </tr> -->
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr *ngIf="rowData.accounts">
          <td [attr.colspan]="selectedColumns.length">
            <app-account-table [accounts]="rowData.accounts" />
          </td>
        </tr>
        <tr *ngIf="!rowData.accounts" [ngClass]="{ group: rowData.isGroup }">
          <td
            *ngFor="let col of columns; let i = index"
            [ngStyle]="{
              width: i === 0 ? '450px' : 'fit-content'
            }"
          >
            <div class="flex align-items-center">
              <p-treeTableToggler
                [rowNode]="rowNode"
                *ngIf="col.field === 'holdingName'"
              ></p-treeTableToggler>
              <div
                class="overflow-hidden flex-1 text-overflow-ellipsis white-space-nowrap"
              >
                {{ rowData[col.field] }}
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
