<div class="card">
  <p-toast></p-toast>
  <div *ngIf="!loading" [@fadeInOut]>
    <p-treeTable
      #tt
      [value]="treeTableData"
      [columns]="selectedColumns"
      [frozenColumns]="frozenCols"
      sortMode="multiple"
      [scrollable]="true"
      scrollHeight="400px"
      frozenWidth="200px"
      [reorderableColumns]="true"
      filterMode="strict"
      [tableStyle]="{ 'min-width': '80rem' }"
    >
      <ng-template pTemplate="caption">
        <div style="text-align: left; display: flex; gap: 8px">
          <p-dropdown
            [options]="groupingOptions"
            [(ngModel)]="selectedGrouping"
            optionLabel="label"
            (onChange)="onGroupingChange()"
          ></p-dropdown>
          <p-button
            [label]="expandedAll ? 'Collapse all' : 'Expand all'"
            styleClass="p-button-raised p-button-text"
            (click)="handleExpandRows()"
          />
          <p-multiSelect
            [options]="scrollableCols"
            [(ngModel)]="selectedColumns"
            optionLabel="header"
            selectedItemsLabel="{0} columns selected"
            [style]="{ width: '20em' }"
            defaultLabel="Choose Columns"
          ></p-multiSelect>
          <div class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              placeholder="Global Search"
              (input)="tt.filterGlobal($event.target.value, 'contains')"
            />
          </div>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-excel"
            (click)="exportExcel()"
            class="p-button-success mr-2"
            pTooltip="XLS"
            tooltipPosition="bottom"
          ></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns"
            [ttSortableColumn]="col.field"
            ttReorderableColumn
          >
            {{ col.header }}
            <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns">
            <input
              *ngIf="col.filterType === 'text'"
              pInputText
              type="text"
              (input)="
                tt.filter($event.target.value, col.field, col.filterMatchMode)
              "
            />
            <p-calendar
              *ngIf="col.filterType === 'date'"
              [touchUI]="true"
              [readonlyInput]="true"
              (input)="
                tt.filter($event.target.value, col.field, col.filterMatchMode)
              "
            ></p-calendar>
            <p-inputNumber
              *ngIf="col.filterType === 'numeric'"
              inputId="currency-us"
              mode="currency"
              currency="USD"
              locale="en-US"
              (onInput)="
                tt.filter(
                  $event.value?.toString(),
                  col.field,
                  col.filterMatchMode
                )
              "
            >
            </p-inputNumber>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr style="height: 57px">
          <td *ngIf="rowData.accounts" [attr.colspan]="selectedColumns.length">
            <p-table [value]="rowData.accounts" dataKey="id" editMode="row">
              <ng-template pTemplate="header">
                <tr>
                  <th
                    *ngFor="let col of accountCols"
                    [ttSortableColumn]="col.field"
                  >
                    {{ col.header }}
                    <p-treeTableSortIcon
                      [field]="col.field"
                    ></p-treeTableSortIcon>
                  </th>
                  <th style="width: 20%"></th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-account
                let-editing="editing"
                let-ri="rowIndex"
              >
                <tr [pEditableRow]="account">
                  <td>{{ account.accountName }}</td>
                  <td>
                    {{ account.quantity }}
                  </td>
                  <td>
                    {{ account.accountType }}
                  </td>
                  <td>
                    {{ account.programType }}
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input
                          pInputText
                          type="text"
                          [(ngModel)]="account.allocation"
                        />
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{ account.allocation }}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <div
                      class="flex align-items-center justify-content-center gap-2"
                    >
                      <button
                        *ngIf="!editing"
                        pButton
                        pRipple
                        type="button"
                        pInitEditableRow
                        icon="pi pi-pencil"
                        (click)="onAccountRowEditInit(account)"
                        class="p-button-rounded p-button-text"
                      ></button>
                      <button
                        *ngIf="editing"
                        pButton
                        pRipple
                        type="button"
                        pSaveEditableRow
                        icon="pi pi-check"
                        (click)="onccountRowEditSave(account)"
                        class="p-button-rounded p-button-text p-button-success mr-2"
                      ></button>
                      <button
                        *ngIf="editing"
                        pButton
                        pRipple
                        type="button"
                        pCancelEditableRow
                        icon="pi pi-times"
                        (click)="onAccountRowEditCancel(account, ri)"
                        class="p-button-rounded p-button-text p-button-danger"
                      ></button>
                      <button
                        *ngIf="!editing"
                        type="button"
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-text p-button-danger"
                        (click)="deleteccount(account.accountId)"
                      ></button>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">
                    There are no account for this product yet.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </td>
          <ng-container *ngIf="!rowData.accounts">
            <td *ngFor="let col of columns; let i = index">
              <p-treeTableToggler
                [rowNode]="rowNode"
                *ngIf="col.field === 'holdingName'"
              ></p-treeTableToggler>
              {{ rowData[col.field] }}
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
