<div class="card">
  <p-toast></p-toast>
  <div *ngIf="!loading" [@fadeInOut]>
    <p-treeTable
      #tt
      [value]="treeTableData"
      [columns]="selectedColumns"
      sortMode="multiple"
      scrollHeight="400px"
      [reorderableColumns]="true"
      [resizableColumns]="true"
      columnResizeMode="expand"
      filterMode="strict"
      [tableStyle]="{ 'min-width': '80rem' }"
      class="edit-account-table"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center gap-2 justify-content-between">
          <div class="">
            <div class="text-primary text-xl font-bold">Holdings ({{ 7 }})</div>
            <div class="font-bold flex align-items-center text-600 mt-2">
              Unallocated Cash: <span class="text-orange-400">$1000</span>
            </div>
          </div>
          <div class="flex align-items-center gap-3">
            <app-column-filter (columnsChangeEvent)="onColumnsChange($event)" />
            <p-button
              label="Add Deposite / Withdraw"
              icon="pi pi-dollar"
              styleClass="p-button-outlined"
            ></p-button>
            <p-button
              icon="pi pi-link"
              styleClass="p-button-secondary p-button-text p-button-raised"
            ></p-button>
            <p-button
              icon="pi pi-download"
              styleClass="p-button-secondary p-button-text p-button-raised"
              (click)="exportExcel()"
            ></p-button>
          </div>
        </div>
        <p-divider *ngIf="selectedHoldings.length"></p-divider>
        <p-button
          label="Delete"
          icon="pi pi-trash"
          styleClass="p-button-text"
          *ngIf="selectedHoldings.length"
          (click)="deleteAll()"
        ></p-button>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns; let i = index"
            [ttSortableColumn]="col.field"
            ttReorderableColumn
            ttResizableColumn
            [ngStyle]="{
              width: i === 0 ? '450px' : 'fit-content'
            }"
          >
            <div class="flex align-items-center gap-2">
              <p-checkbox
                *ngIf="i === 0"
                [(ngModel)]="isSelectAll"
                [binary]="true"
                (click)="handleSelectAll($event)"
              ></p-checkbox>
              <div>
                {{ col.header }}
                <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
              </div>
            </div>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr [ngClass]="{ group: rowData.isGroup, total: rowData.isTotal }">
          <td
            *ngFor="let col of columns; let i = index"
            [ngStyle]="{
              width: i === 0 ? '450px' : 'fit-content'
            }"
          >
            <div class="flex align-items-center">
              <p-treeTableToggler
                [rowNode]="rowNode"
                *ngIf="col.field === 'holdingName'"
              ></p-treeTableToggler>
              <p-checkbox
                *ngIf="i === 0 && !rowData.isGroup && !rowData.isTotal"
                [(ngModel)]="rowData.isSelected"
                [binary]="true"
                (click)="handleSelectRow($event, rowData)"
              ></p-checkbox>
              <div
                class="overflow-hidden flex-1 text-overflow-ellipsis white-space-nowrap ml-2"
                [ngClass]="{ 'font-bold': rowData.isTotal }"
              >
                <span
                  class="w-full"
                  *ngIf="
                    rowData.isEditing &&
                      (col.field === 'quantity' ||
                        col.field === 'allocationPercent' ||
                        col.field === 'allocation');
                    else output
                  "
                >
                  <!-- <i
                    class="pi pi-percentage"
                    *ngIf="col.field === 'allocationPercent'"
                  ></i>
                  <i
                    class="pi pi-dollar"
                    *ngIf="col.field === 'allocation'"
                  ></i> -->
                  <input
                    pInputText
                    type="number"
                    class="w-full"
                    [(ngModel)]="rowData[col.field]"
                  />
                </span>
                <ng-template #output>
                  {{ rowData[col.field] }}
                </ng-template>
              </div>
            </div>
          </td>
          <td>
            <div
              class="flex align-items-center gap-2"
              *ngIf="!rowData.isGroup && !rowData.isTotal"
            >
              <button
                *ngIf="!rowData.isEditing"
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                styleClass="p-button-sm"
                class="p-button-rounded p-button-text row-action-button"
                (click)="onHoldingRowEditInit(rowData)"
              ></button>
              <button
                *ngIf="rowData.isEditing"
                pButton
                pRipple
                type="button"
                icon="pi pi-check"
                styleClass="p-button-sm"
                (click)="onHoldingRowEditSave(rowData)"
                class="p-button-rounded p-button-text p-button-success mr-2 row-action-button"
              ></button>
              <button
                *ngIf="rowData.isEditing"
                pButton
                pRipple
                type="button"
                icon="pi pi-times"
                styleClass="p-button-sm"
                (click)="onHoldingRowEditCancel(rowData)"
                class="p-button-rounded p-button-text p-button-danger row-action-button"
              ></button>
              <button
                *ngIf="!rowData.isEditing"
                type="button"
                pButton
                pRipple
                styleClass="p-button-sm"
                icon="pi pi-trash"
                class="p-button-rounded p-button-text p-button-danger row-action-button"
                (click)="confirmDeleteHolding($event, rowData.holdingCode)"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
  <p-confirmPopup></p-confirmPopup>
</div>
