<div class="columns-filter-op">
  <p-overlayPanel #op>
    <form
      class="w-25rem flex flex-column gap-3 columns-filter-form"
      [formGroup]="formGroup"
    >
      <div
        class="flex justify-content-between align-items-center border-bottom-1 border-black-alpha-20 p-3"
      >
        <label class="font-bold text-xl text-primary">Filters</label>
        <p-button
          label="Secondary"
          styleClass="p-button-outlined"
          icon="pi pi-refresh"
          label="Reset to default"
          (click)="resetToDefault()"
        ></p-button>
      </div>
      <div class="px-3 w-full">
        <span class="p-input-icon-right w-full">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            formControlName="search"
            class="w-full"
            placeholder="Search"
          />
        </span>
      </div>
      <p-accordion
        [multiple]="true"
        [activeIndex]="[0, 1, 2]"
        formGroupName="columns"
        class="columns-filter-accordion"
      >
        <p-accordionTab *ngFor="let node of nodes" [header]="node.label">
          <div class="flex flex-column gap-3">
            <p-checkbox
              *ngFor="let item of node.children"
              [formControlName]="item.key"
              [label]="item.label"
              [binary]="true"
              [disabled]="true"
            ></p-checkbox>
          </div>
        </p-accordionTab>
      </p-accordion>
    </form>
  </p-overlayPanel>
  <p-button
    styleClass="p-button-outlined"
    (click)="op.toggle($event)"
    icon="pi pi-filter"
    label="Filter"
  ></p-button>
</div>
